.bleedFerdig {
  background: var(--a-green-200);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.bleedKlar {
  color: var(--a-text-on-inverted);
  background: var(--a-purple-800);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.bleedHoppetOver {
  background: var(--a-gray-400);
  padding: 2rem 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.knappHvit {
  background: var(--a-bg-default);
}

.knappHvitBred {
  background: var(--a-bg-default);
  width: 17rem;
}
.knappBred {
  width: 17rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
