.spørsmålsheader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;

  font-weight: 600;
  max-width: 42rem;
}

.spørsmålsheader :first-child {
  margin-right: 2rem;
  flex-shrink: 0;
}

.svaralternativknapp {
  width: 100%;
  max-width: 28rem;
  margin-bottom: 1rem;
}

.tilbakeknapp {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 28rem;
}

.nesteknapp {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 28rem;
}

.spørsmålsseksjon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  margin-top: 2rem;
}

.spørsmålssideblokk {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.spørsmålstekst {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.lasterhjul {
  display: flex;
  justify-content: center;
}

.bleedInnhold {
  padding-left: 1rem;
}
