.startside > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sideinnhold {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.logininformasjon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 600px;
    flex-shrink: 0;

    border-right: 2px solid #d9d9d9;
}

.logininformasjon .linkDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    min-width: 22rem;
}

.qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    min-width: 22rem;
    min-height: 22rem;
}

.logininformasjon .pinDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logininformasjon .pinDisplay .siffer {
    width: 4rem;
    height: 5rem;
    margin-right: 1rem;
    background-color: #d9d9d9;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
}

.status {
    flex-grow: 1;
}
