.venstreDel {
  width: 30rem;
}

.høyreDel {
  width: 20rem;
  font-style: italic;
}

.spørsmålsseksjon {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.disabletOption {
  pointer-events: none;
}

.disabletOption label::before {
  opacity: 0.5;
}

.spørsmåltittel {
  color: var(--a-blue-500);
  --a-font-weight-bold: 400;
}

.spørsmålsAccordion {
  .accordionItem {
    &:last-child {
      .spørsmåltittel {
        box-shadow: var(--__ac-accordion-header-shadow);
      }
    }
  }
}

.førstespørsmåltittel {
  --__ac-accordion-header-shadow-color: transparent;
  &:last-child {
    background-color: #f0f;
  }
}

.actionknapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.resultatknapp {
  margin-right: 1rem;
  margin-left: 1rem;
}

.kategoriHeader {
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  
  &:not(:first-child) {
    margin-top: 4rem;
  }
  
  .kategoriTittel {
    margin-bottom: 0.25rem;
  }
  
  .kategoriMål {
    color: var(--a-text-subtle);
  }
}