
.startside {
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .startsidePageBlock {
      display: flex;
      flex-direction: column;

      .mobilpåminnelseContainer {
        position: relative;

        .mobilpåminnelse {
          position: absolute;
          right: 0;
          top: -12rem;
          width: fit-content;
        
          .snakkeboble {
            background-color: var(--a-surface-success-subtle);
            color: var(--a-surface-success);
            max-width: 18rem;
            font-size: 1.2rem;
            padding: 2rem;
            border-radius: 1rem;
            position: relative;
        
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 0;
              border: 25px solid transparent;
              border-top-color: var(--a-surface-success-subtle);
              border-bottom: 0;
              border-left: 0;
              margin-left: -50px;
              margin-bottom: -25px;
            }
          }

          .mobilikon {
            position: relative;
            top: -2.5rem;
            left: -0.5rem;
          }
        }
      }
      
      .velkommenHeader {
        text-align: center;
      }
    
      .startKnapp {
        align-self: center;
        margin-top: 2rem;
      }
    
      .boksBeskrivelse {
        color: var(--a-blue-800);
        margin-top: 10rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
      }
      
      .startsideinfoboks {
        flex: 1;
        color: var(--a-blue-800);
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .startsideinfoboksinnhold {
          text-align: center;
        }
      }
    }
  }
  
}