
.startside {
  & > div {
    display: flex;

    .startsidePageBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .mobilpåminnelseContainer {
        align-self: flex-end;
        position: relative;
        top: 1rem;
        right: 100px;
        min-width: 14rem;
        overflow: visible;
        z-index: 1;
        height: 5.7rem;
        
    
        .mobilpåminnelse {
          width: fit-content;
        
          .snakkeboble {
            background-color: var(--a-surface-success-subtle);
            color: var(--a-green-700);
            max-width: 14rem;
            font-size: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            position: relative;
        
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 0;
              border: 25px solid transparent;
              border-top-color: var(--a-surface-success-subtle);
              border-bottom: 0;
              border-left: 0;
              margin-left: -50px;
              margin-bottom: -25px;
            }
          }
    
          .mobilikon {
            position: relative;
            top: -1.5rem;
            left: -1.3rem;
          }
        }
      }
  

      .startsideToppInnhold {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--a-bg-subtle);
        z-index: 10;
        padding: 1rem;
        
        .velkommenHeader {
          text-align: center;
        }
      
        .startKnapp {
          align-self: center;
          margin-top: 2rem;
        }
      }
    
      .boksBeskrivelse {
        color: var(--a-blue-800);
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
      }
      
      .startsideinfoboks {
        flex: 1;
        color: var(--a-blue-800);
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .startsideinfoboksinnhold {
          text-align: center;
        }
      }
    }
  }
  
}