.startside {
  > div {
    display: flex;

    .startsideinnhold {
      flex-grow: 1;
      .sidetekst {
        margin-bottom: 2rem;
      }

      .bliMedKnapp {
        max-width: 12rem;
        width: 100%;
        margin: auto;
      }

      .kartleggingsmøtetittel {
        margin-top: 10rem;
      }

      .personvernseksjon {
        margin: 4rem auto 2rem;
        max-width: 30rem;
      }
    }
  }
}
