.header {
    padding: 1rem 10rem 1rem;
}

.overskrift {
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 128px;
}

.deltakere {
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
}

.feilside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrKodeModal {
    padding: 0;
    min-width: 25rem;
    min-height: 25rem;
    --a-spacing-6: 0.5rem;
}
