.qrKodeModal {
  display: flex;
  flex-direction: row;
}

.qrcode {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 22rem;
  height: 22rem;
  min-width: 8rem;
  min-height: 8rem;
  max-width: 100%;
}

.maksHundre {
  max-width: 100%;
}
