.bleedInnhold {
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: space-between;
    align-items: center;
}

.spørsmålInnhold {
}


.innholdSvar {
    padding-left: 2rem;
}

.deltakere {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.deltakere :first-child {
    margin-right: 0.5rem;
}

.footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}