.framdrift {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  list-style-type: none;
  padding: 0;
}

.framdriftStandard {
  border-radius: 3px;
  flex-basis: 1;
  height: 0.25rem;
  flex-grow: 1;
}

.tom {
  background-color: var(--ax-neutral-400);
}

.ferdig {
  background-color: var(--ax-accent-800);

  &.blå {
    background-color: var(--ax-accent-800);
  }
  &.grønn {
    background-color: var(--ax-success-800);
  }
  &.gul {
    background-color: var(--ax-warning-800);
  }
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
