.framdrift {
    width: 100%;
}

.framdriftStandard {
    border-radius: 3px;
    float: left;
    display: block;
    height: 0.25rem;
}

/* Define specific styles in separate classes */
.tom {
    background-color: var(--a-gray-300); /* specific background color */
}

.ferdig {
    background-color: var(--a-blue-700); /* specific background color */
}