.ventertittel {
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.venterundertittel {
  margin-top: 2rem;
  text-align: center;
}

.venterTimeglass {
  animation: bounce 3s linear infinite;
  color: var(--a-blue-500);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.8rem);
  }
  100% {
    transform: translateY(0);
  }
}

.spørsmålsheader {
  padding-top: 3rem;
  align-self: start;
  width: 100%;
}

.innholdboks {
  background: var(--a-blue-50);
  margin-top: 1rem;
}

.normaltekst {
  font-weight: 400;
}

.tilbakeknapp {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nesteknapp {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.spørsmålsseksjon {
  flex-grow: 1;
}

.radioStack :global(.navds-fieldset__error):empty {
  display: none;
}

.spørsmålssideblokk {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.lasterhjul {
  display: flex;
  justify-content: center;
}

.nesteStack {
  height: 100vh;
  padding: 2rem;
}

.radioStack {
  padding: 1rem;
}

.knappeStack {
  margin-top: 1rem;
}
