.deltakere {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.deltakereMedStatus {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: var(--a-blue-500);
  flex-wrap: nowrap;
  margin-right: 0.25rem;
}
