name: Build, test and deploy
run-name: Build and deploy app || ${{ github.event.head_commit.message }}
on: [push]

env:
  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test and lint
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.23
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Lint
        run: bun lint
      - name: Run testing-library tests
        run: bun run test
      - name: Put host.docker.internal i hosts
        run: sudo echo "127.0.0.1 host.docker.internal" | sudo tee -a /etc/hosts
      - run: bunx playwright install --with-deps
      - name: Set up cache
        id: cache
        uses: actions/cache@v4
        with:
          key: cache/${{github.repository}}/${{vars.PLAYWRIGHT_CACHE_VERSION}}/${{github.ref}}
          restore-keys: cache/${{github.repository}}/${{vars.PLAYWRIGHT_CACHE_VERSION}}/refs/heads/master
          path: .test/**
      - name: Initialize playwright snapshots
        if: ${{steps.cache.outputs.cache-hit != 'true' }}
        run: bunx playwright test --update-snapshots --reporter html
      - name: Run playwright tests
        continue-on-error: true
        id: playwright-step
        run: bun playwright test
      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: .test/spec/results/
          retention-days: 7
          overwrite: true
      - name: Fail if playwright tests failed
        if: ${{steps.playwright-step.outcome != 'success'}}
        run: exit 1

  build:
    permissions:
      id-token: write
    name: build
    runs-on: ubuntu-latest
    needs: tests
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.23
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Push to Google Artifact Registry
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: pia
    outputs:
      image: ${{ steps.docker-push.outputs.image }}

  deploy:
    permissions:
      id-token: write
    strategy:
      matrix:
        cluster: [dev, prod]
    name: Deploy to ${{ matrix.cluster }}
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Deploy application to ${{ matrix.cluster }}
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ matrix.cluster }}-gcp
          RESOURCE: .nais/nais.yaml
          VARS: .nais/${{ matrix.cluster }}.yaml
          IMAGE: ${{ needs.build.outputs.image }}

  deploy-dev:
    permissions:
      id-token: write
    name: Deploy app to dev
    needs: build
    if: github.ref == 'refs/heads/next-15'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Deploy application to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais.yaml
          VARS: .nais/dev.yaml
          VAR: image=${{ needs.build.outputs.image }}

  trivy-scan:
    if: ${{ github.ref == 'refs/heads/main' && github.actor != 'dependabot[bot]' }}
    env:
      TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db
    name: Scanner docker image med Trivy
    needs: build
    permissions:
      contents: read # to write sarif
      security-events: write # push sarif to github security
      id-token: write # for nais/login
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/pia-actions/trivy-scan@v1 # https://github.com/navikt/pia-actions/tree/main/trivy-scan
        with:
          image: ${{ needs.build.outputs.image }}
          team: pia
